<%- include partials/header.ejs -%>

    <% if (new Date('07 Apr 2017 16:00:00 PST') - new Date() > 0) { %>
        <div id="countdown" class="countdown">00:00:00:00</div>
    <% } else { %>
        <video muted autoplay src="https://s3-us-west-2.amazonaws.com/david-countdown/rocket.mp4" type="video/mp4" class"video" id="video"></video>
        <div id="countdown" class="countdown">00:00:00:00</div>
        <div class="message">LAUNCH!</div>
        <audio autoplay src="https://s3-us-west-2.amazonaws.com/david-countdown/song.mp3" type="audio/mp3" class="audio" id="audio"></audio>
    <% } %>

<div class="tv tv--top"></div>
<div class="tv tv--bottom"></div>
<%- include partials/footer.ejs -%>
